/* SoporteChatScreen.css */
.soporte-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.reply-form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.reply-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message {
  margin-bottom: 10px;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #888;
  font-weight: bold;
}

/* UserChat.css */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.close-chat {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff; /* Color del ícono */
  font-size: 1.5rem; /* Ajusta el tamaño del ícono */
}

.chat-icon {
  position: fixed; 
  bottom: 50px; 
  right: 20px;
  z-index: 1000; 
}
.user-chat {
  position: fixed; /* Cambiado a fixed para estar en la esquina */
  bottom: 20px; /* Ajusta la distancia del borde inferior */
  right: 20px; /* Ajusta la distancia del borde derecho */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.chat-window {
  position: fixed;
  bottom: 80px; /* Ajusta la altura para que la ventana esté por encima del ícono */
  right: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  width: 350px;
  max-height: 500px;
}

.chat-messages {
  height: 300px; /* Ajusta la altura del contenedor de mensajes */
  overflow-y: auto;
  padding: 10px;
}

.message {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 80%;
  display: flex;
  flex-direction: column; /* Cambiado para alinear verticalmente */
}


.message-body {
  margin: 5px 0; /* Margen entre el nombre y el mensaje */
}

.message-timestamp {
  font-size: 0.8rem;
  color: #000000;
  align-self: flex-end; /* Alinea la fecha a la derecha */
  margin-top: auto; /* Empuja la fecha al fondo */
}

.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto; /* Mueve los mensajes enviados a la derecha */
}

.received {
  background-color: #f1f1f1;
  color: black;
  align-self: flex-start;
  margin-right: auto; /* Mueve los mensajes recibidos a la izquierda */
}



.message-form {
  display: flex;
  padding: 10px;
}

.message-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
