.notification-item {
    cursor: pointer;
    transition: background-color 0.3s ease; /* Para hacer que el cambio de color sea suave */
  }
  
  .notification-item:hover {
    background-color: #f2f2f2; /* Color de fondo gris claro al pasar el mouse */
  }
  